/* global style */
:root{
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGray: hsl(0, 0%, 98%);
}
html{
    -webkit-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body{
    font-family:"Karla",sans-serif;
    font-weight:400;
}
h1,h2,h3{
    font-family:"DM Serif Display",serif;
    font-weight: 400
}
/* end global style */



